
/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------- PARTI COMUNI ----------------------------------------- */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    font-family: LFTEtica,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:100%;
    background-color:#EFEFEF;
    align-content: center;
}

#page, #primarymenu ul li, #bc li a, #social li, #link li, .ap-menu li a, .ap-menu li #this, .card, #fogli, #foglio {
    position: relative;
}

#primarymenu, #primarymenu ul ul, #mobilemenu.show ul, #bc li a, #footer, .form, #contenuto h2, .ap-menu li a p, #fieldset h2, #fogli, #foglio, #foglio h3, .formMod, {
    text-align: center;
}

#fascia, #primarymenu ul li:hover > ul, #mobilemenu.show, #bc, #bc li a, .form input[type="text"], .form input[type="password"], #date, #description, #contenuto, .container-menu, .ap-menu li a, #fogli:after, #fogli:before, #foglio .click, #annuncio.formMod #tit, #annuncio.formMod textarea {
    display: block;
}

#primarymenu ul li, #social, #link, #link li, .ap-menu li a p, .ap-menu li a .logo, #ricerca input[type="submit"], #titolo, #regione, #tipologia, .ResAnn button, .formMod input[type="text"], .formMod input[type="password"], .formMod #date, .formMod #description {
    display: inline-block;
}

#fb, #ig, #gg, #tw{   
    background-repeat: no-repeat;
    background-size: 2.5em 2.5em;
    width: 2.5em;
    height: 2.5em;
}

.sectionCompany hr, #footer hr{ 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#page {
    padding-top: 7em;
    max-width: 1024px;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    background-color: #ffffff;
}

/* ------------------    HEADER   ------------------- */

#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#fascia {
    background-color: #029cc7;
    height: 7em;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#logo {
    padding-left: 4em;
    height: 6.5em;
    float: left;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#hamburger {
    visibility: hidden;
    float: right;
    padding: 2.2em 2.3em 0em 0em;
    transition: 1s;
    cursor: pointer;
}

#mobilemenu {
    visibility: hidden;
}

#hamburger img {
    width: 50px;
}

#mobilemenu {
    display: none;
}


#fascia.small{
    height: 4em;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#fascia.small #logo {
    height: 4em;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#fascia.small #hamburger {
    padding-top: 0.7em;
    transition-property: height;
    transition: 1s;
}


#fascia.small #primarymenu {
    margin: 0;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

/* ------------------    MENU HEADER    ----------------- */

#primarymenu
{
    display: inline;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

/* elenco pagine*/
#primarymenu ul
{
    list-style:none;
    margin:auto;
    padding:0;
    padding-top: 3em;
    width: auto;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#fascia.small #primarymenu ul {
    padding-top: 1.3em;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

#fascia.small #primarymenu ul ul {
    padding-top: 0em;
    transition-duration: 1s;
    transition-timing-function: initial;
    transition-delay: initial;
}

/* link alle altre pagine*/
#primarymenu ul a
{
    color: lightgray;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
}

/* ogni voce di menu*/
#primarymenu ul li
{
    margin:auto;
    padding:0;
    vertical-align: top;
}

/*quando ci passo sopra*/
#primarymenu ul li:hover a
{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}

/* Pagina corrente*/
#primarymenu ul li.here {
    font-size: 1.7em;
}

#primarymenu ul li.here a{
    color: #ffffff;
    cursor: default;
    text-shadow: 0px 0 15px #000000;
}

/* elenco pagine dentro una pagina*/
#primarymenu ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#029cc7;
    padding:0;
    width: 100%;
    font-size: 0.8em;
    z-index: 3;
}


/*pagine secondarie*/
#primarymenu ul ul li{
    padding: 0em;
    background:#029cc7;
    border: 1px;
    border-top: 0;
    border-style: solid;
    border-color: black;
    float:none;
    width: 100%; 
}

#primarymenu ul li:hover ul li a{
    text-shadow: none;
    color:lightgrey;
}

#primarymenu ul li.here ul li {
    font-size: 0.7em;
}

#primarymenu ul ul li:hover{
    font-size: 1em;
}

#primarymenu ul li:hover ul li:hover a{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}

#primarymenu ul li:hover ul li.here {
    font-size: 1em;
}

#primarymenu ul li:hover ul li.here a{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}

@media only screen and (min-width: 840px) and (max-width: 969px) {
    #primarymenu ul a
    {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 839px) {
    #primarymenu 
    {
        display: none;
    }

    #hamburger {
        visibility: visible;
    }

    #mobilemenu.show {
        visibility: visible;
    }
}

/* ------ menu mobile --------- */
#mobilemenu.show {
    font-size: 1.5em;
}

#mobilemenu.show ul {
    list-style: none;
    width: 100%;
    background-color: #029cc7; 
}

#mobilemenu.show ul li {
    padding: 0.5em 0em;
    border-bottom:2px;
    border-style: solid;
    border-color: black;
}
/*quando ci passo sopra*/
#mobilemenu.show ul li:hover a
{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}

#mobilemenu.show ul li a {
    color: lightgray;
    text-decoration:none;
}

/* Pagina corrente*/
#mobilemenu.show ul li.here {
    font-weight: bold;
}

#mobilemenu.show ul li.here a{
    color: #ffffff;
    cursor: default;
    text-shadow: 0px 0 15px #000000;
}

/* elenco pagine dentro una pagina*/
#mobilemenu.show ul ul
{
    padding:0;
    width: 100%;
    font-size: 0.9em;
    border: 0px;
}


/*pagine secondarie*/
#mobilemenu.show ul li:hover ul li a{
    text-shadow: none;
    color:lightgrey;
    width: 100%;
    height: 100%;
}

#mobilemenu.show ul li ul li {
    font-size: 0.9em;
    padding: 0.5em;
    margin: auto;
    border:0;
}

#mobilemenu.show ul li:hover ul li:hover a{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}

#mobilemenu.show ul li:hover ul li.here a{
    color: #ffffff;
    text-shadow: 0px 0 15px #000000;
}


/* ----------------    BREADCRUMB   ----------------*/

#bc{
    padding: 0.3em 0em 0em 0.3em;
    list-style:none;
    height: 40px;
}

#bc .icon{
    padding-top: 5px;
}

#bc li{
    float:left;
}

#bc li a{
  color:#FFF;
  background: #3498db;
  text-decoration: none;
  height: 40px;
  line-height:40px;
  padding: 0 10px 0 5px;
  margin-right: 23px;
  cursor: default;
}

/*cambia colore ai pari*/
#bc li:nth-child(even) a{
    background-color: #2980b9;
}
#bc li:nth-child(even) a:before{
  border-color:#2980b9;
  border-left-color:transparent;
 } 
#bc li:nth-child(even) a:after{
  border-left-color: #2980b9;
}

/* Primo elemento diverso*/
#bc li:first-child a{
    padding-left:15px;
    border-radius: 4px 0 0 4px;
    cursor:pointer;
}
#bc li:first-child a:before{
      border:none;
}

#bc li a:before, #bc li a:after{
    content: "";
    position:absolute;
    top: 0;
    border:0 solid #3498db;
    border-width:20px 10px;
    width: 0;
    height: 0;
}

#bc li a:before{
    left:-19px;
    border-left-color:transparent;
}

#bc li a:after{
    left:100%;
    border-color:transparent;
    border-left-color:#3498db;
}

/* cambio colore quando passo sopra*/
#bc li a:hover{
    background-color: #1abc9c;
}  

#bc li a:hover::before{
    border-color:#1abc9c;
    border-left-color:transparent;
}

#bc li a:hover::after{
    border-left-color:#1abc9c;
}

/* più scuro quando lo clicco*/
#bc li a:active{
    background-color: #16a085;
}

#bc li a:active::before{
    border-color:#16a085;
    border-left-color:transparent;
}

#bc li a:active::after{
    border-left-color:#16a085;
}


/* --------------    FOOTER    ---------------- */

#footer {
    height: auto; 
    font-size: 0.7em;
    width: 100%;
    padding: 1em 0em 2em 0em;
    align-content: center;
}

#footer p{
    width: 100%;
}

#footer ul {
    list-style:none;
}

#footer hr{ 
    border: 0; 
    height: 1px; 
}
 
#social {
    margin: auto;
}

#social li { 
    list-style:none; 
    float:right; 
    margin: 0; 
    margin:1em;
} 

#social #fb{
    background-image: url(../IMG/facebook.svg);
    
}

#social #ig{
    background-image: url(../IMG/instagram.svg);
}

#social #gg{
    background-image: url(../IMG/google+.svg); 
}

#social #tw{
    background-image: url(../IMG/twitter.svg);
}

#link {
    width: 100%;
    margin: auto;
    padding-top: 1em;
}

#link li{ 
    list-style:none; 
    margin:0; 
    padding:1em; 
} 



/* --------------------------------------------------------------------------------------------------------- */
/* ---------------------------------- CONTENUTO pagine statiche senza accesso -------------------------------*/

#section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#intro {
    padding: 0 2em;
}

#intro h2{
    font-size: 2em;
    line-height: 1.8;
}

#intro p{
    line-height: 1.3em;
    padding-bottom: 0.8em;
}

#intro ol {
    padding-left: 2em;
    line-height: 1.5em;
}


/* -------     SectionAziendePartner.php    ----------*/

.sectionCompany{
    list-style:none;
    padding: 1em 2em 1em 2em;
}

.sectionCompany h3{
    font-weight:bold;
    font-size: 1.3em;
    text-decoration: underline;
    padding-top: 1em;
}

.sectionCompany ul{
    list-style:none;
    padding-left: 1em;
}

.sectionCompany ul li{
    padding-top: 0.5em;
    line-height: 1.3em;
}

.sectionCompany hr{ 
  border: 0; 
  height: 1px; 
}


/* ----------     SIGN IN / LOG IN FORM    -------------*/
/* CompanySignIn.php / UserSignIn.php / login.php */

.form{
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin-top: 1em;
    margin-bottom: 3em;
}

.form form{
    padding: 2em;
}

.form h1 {
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}

.form input[type="text"], .form input[type="password"], #date, #description{
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    outline: none;
    margin-bottom: 1em;
}


.form input[type="text"]:focus, .form input[type="password"]:focus, #date:focus, #description:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

.radio {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.form input[type="radio"]{
    margin-bottom: 1em;
}

.form .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: left;
}

.form input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.form input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}




/* --------------------------------------------------------------------------------------------------------- */
/* -------------------------------------- CONTENUTO pagine Utente e Azienda ---------------------------------*/

#contenuto {
    margin-right: 5px;
    padding-left: 29%;   
    min-height: 20em;
}

#contenuto form {
    padding:0.5em;
}

#contenuto h3{
    padding: 0.5em 0em 0.5em 0em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8;
}
#contenuto h4{
    padding-top: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5;
}

#contenuto p{
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
}

#contenuto strong {
    font-weight: bold;
}

#contenuto ul{
    list-style: none;
    padding-left: 1em;
}

#contenuto li{
    padding-bottom: 0.5em;
}

/* ----------------------- MENU area personale ----------------------*/
 
.container-menu {
    padding-left: 4px;
    margin-top: 0.4%;
    width: 25%;
    float: left;
}

.ap-menu {
    list-style: none;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
}

.ap-menu li a {
    text-decoration: none;
    padding: 8px 15px;
    color: #777;
    height: 36px;
    border-bottom: 1px solid #EEE;
}

.ap-menu li a p {
    text-transform: uppercase;
    padding-left: 1%;
}

.ap-menu li a .logo {
    padding-right: 5%;
}

/* quando passo sopra un link si colora*/
.ap-menu li:hover > a {
    color: #e67e22;

}

/* bordo nella pagina in cui sono*/
.ap-menu li #this { 
    color: #e67e22;
    border:0;
    box-shadow: 0 0 1% #DDD;
    -moz-box-shadow: 0 0 50% #DDD;
    -webkit-box-shadow: 0 0 50% #DDD;
    border-left: 4px solid #e67e22;
    border-right: 4px solid #e67e22;
    margin: 0 -4px;
}


/* media queries per farlo responsive */
/*@media only screen and (min-width: 980px) {
  .ap-menu {
        margin-left:10px;
    }
}*/

@media only screen and (min-width: 700px) and (max-width: 979px) {
    .ap-menu {
        width: 100%;
    }

    .ap-menu li a {
        height:40px;
    }

    .ap-menu li a p {
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .ap-menu li a .logo {
        display: block;
        padding-left: 40%;
    }
}

@media only screen and (max-width: 699px) {
    .ap-menu { 
        display: none;
    }

    #contenuto {
        padding-left: 1em;
    }
}


/* ------------     RICERCA     --------------*/
/* home.php e UtRicercaAnnunci.php */

#foto {
    padding-top: 10%;   
    padding-bottom: 10%; 
    width: 100%;
    background-image: url(../IMG/front.jpg);
    overflow: hidden;
    height: auto;
}

#ricerca {
    margin: auto;
    align-content: center;
    width: 60%;
    padding: 1em;
    background: rgba(255,255,255,0.9);   
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}

#ricerca input[type="text"] {
    box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
}

#ricerca input[type="text"]:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

#ricerca select {
    box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
}

#ricerca select:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

#ricerca input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

#ricerca input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

#fieldset {
    border: 10px;

}

#fieldset h2 {
    padding: 10px;
}

#titolo, #regione, #tipologia {
    padding: 30px 0.8em;
    margin: auto;
}


/* --------------    ELENCO ANNUNCI    -------------*/
/* home.php / UtCercaAnnunci.php / UtAnnunciSalvati.php */

#listannunci {
    margin: 1em 7%;
    padding: 0.5em 10%;
}

#annunci {
    list-style: none;
    padding:0.2em;
}

.card {
    margin: 25px auto; 
    width: 900px;
} 

#fogli {
    border: 0px solid #c4c6ca;
    text-shadow: 0 1px 0 #fff;
    margin-top: 5em;
    margin-bottom: 5em;
}

#fogli:after, #fogli:before {
    border: 1px solid #c4c6ca;
    background: #FFFFFF;
    content: "";
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}

#fogli:after {
    transform: rotate(2deg);
    top: 0;
    z-index: 2;
}

#fogli:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: 1;
}

/* Foglio che viene in primo piano rispetto agli altri*/
#foglio {
    background: #FFFFFF;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 3em;
    text-shadow: 0 1px 0 #fff;
  z-index: 3;
}

#foglio h3 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    margin-bottom: 5px;
}

#foglio small {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 12px;
}

/* ------   Annunci in Utente   ----- */
.detail{
    margin-top: 0.5em;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 2em;
    border-collapse: collapse;
}

.detail tr{
    height: 2em;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.detail tr .det {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #969696;
    text-align: left;
    padding-right: 2em;
}

.detail tr .ris {
    font-weight: 600;
    text-align: left;
}


/* Immagine per like/dislike */
#foglio img{
    width: 30px;
    cursor:pointer;
    padding-top:2em;
}
#foglio .click {
    font-weight: 600;
    cursor: pointer;
}
#foglio button {
    display: none;
}


/* ----------     AzResocontoAnnuncio.php    ---------- */
.ResAnn {
    list-style: none;
    margin: 2em;

    border: 1px;
    border-style: solid;
    border-color: #808080;

    padding: 0.5em;
}

.ResAnn li{
    padding-left: 1em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
}

.ResAnn #title {
    padding-left: 0em;
    font-weight: bold;
    font-size: 1.3em;
}

.ResAnn button{
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.ResAnn button:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

/* ------      FORM MODIFICA     --------*/
/* AzModificaDati.php / UtModificaDati.php */
.formMod{
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 2em;
}

.formMod label {
    text-align: left;
    width: 40%;
    float: left;
}

.formMod input[type="text"], .formMod input[type="password"], .formMod #date, .formMod #description{
    box-sizing: border-box;
    width: 60%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    outline: none;
    margin-bottom: 1em;
}

.formMod #description{
    width: 100%;
}

.formMod input[type="text"]:focus, .formMod input[type="password"]:focus, .formMod #date:focus, .formMod #description:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

#descrAz {
    width: 100%;
    padding-bottom: 0.5em;
}

.formMod input[type="radio"]{
    float: none;
    margin-bottom: 1em;
}

#man, #woman {
    float: none;
    padding-left: 0.5em;
    padding-right: 1em;
}
.formMod .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: left;
}
.formMod input[type="submit"], .formMod button{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.formMod input[type="submit"]:hover, .formMod button:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}



/* ----------     MODIFICA ANNUNCIO     -----------*/
/* AzModificaAnnuncio.php / AzPubblicaAnnuncio.php */

#annuncio.formMod {
    max-width: 80%;
}

#annuncio.formMod label, #annuncio.formMod select {
    font-size: 15px;
    margin: 0.5em 0em 0.5em 0em;
}

#annuncio.formMod #tit {
    width: 100%;
}

#annuncio.formMod input[type="text"] {
    width: 100%;
}

#annuncio.formMod textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    outline: none;
    margin-bottom: 1em;
}


#annuncio.formMod textarea:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}



/* --------------------- SUCCESS AND ERROR MESSAGE ----------------------*/

.successMsg, .errorMsg {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
}
.successMsg, .okForm {
    color: green;
}

.errorMsg, #errorList, .erroreDati, .errorForm {
    color: red;
}

#errorList {
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 4em;
}

.NoData{ /* Messi nelle pagine Admin */
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
}

.erroreDati {
    padding: 0em 2em;
}

.errorForm {
    font-size: 0.8em;
    padding-left: 1em;
}

.okForm {
    font-size: 0.8em;
    padding-left: 1em;
}

