
/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------- PARTI COMUNI ----------------------------------------- */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: LFTEtica,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:1em;
    background-color:#EFEFEF;
    align-content: center;
}

body {
    display: block;
    max-width: 1024px;
    margin:auto;
    background-color: #FFFFFF;
}

/* ------------------    HEADER   ------------------- */

#header {
    background-color: #896859;
    min-height: 11em;
    margin: 0em;
    border: 0.1px solid #A9E8DC;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#logo {
    height: 10em;
    float: left;
}

/*  SISTEMARE H1   */
h1 {
    text-align: center;
    padding-top: 1.5em;
    padding-left: 35%;
}

#box {
    float: right;
    align-content: center;
    font-size: 0.8em;
    padding-left: 5em;
}

.button {
    margin:0.4em;
    padding:0.3em;
    border-style:groove;
    border-width: 0.1em;
    border-color: black;
}

#login, #signin, #logout {
    display: inline-block;
    background-color: #d4d3d3;
    border-style: solid;
    border-width: 2px;
    border-color: #708090;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}


#signin {
    display: inline-block;
    background-color: #d4d3d3;
    border-style: solid;
    border-width: 2px;
    border-color: #708090;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.button a:link {
    text-decoration-line: none;

}

/* --------------------- MENU HOME ----------------------*/

#menu {
    margin: 0em;
    padding: 1em;
    text-align: center;
    align-content: center;
    background-color: cadetblue; 
}

#menu li {
    padding: 1em;
    display: inline-block;
    width: 20%;
    list-style: none;
    background-color: #d4d3d3;
    border-style: solid;
    border-width: 2px;
    border-color: cadetblue;
    border-radius: 10px;
}


#menu a:link {
    text-decoration-line: none;
    color: #2b0b30;
}

#menu li:hover {
    background-color: #708090;
    color: #e6d1b8;
}


/* ----------------------- BREADCRUMB ----------------------*/

#bc{
    margin: 5px;
    padding-left: 0px;
    list-style:none;
    display: block;
    height: 40px;
}

#bc .icon{
    padding-top: 5px;
}

#bc li{
    float:left;
}

#bc li a{
  color:#FFF;
  display:block;
  background: #3498db;
  text-decoration: none;
  position:relative;
  height: 40px;
  line-height:40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}

/*cambia colore ai pari*/
#bc li:nth-child(even) a{
    background-color: #2980b9;
}
#bc li:nth-child(even) a:before{
  border-color:#2980b9;
  border-left-color:transparent;
 } 
#bc li:nth-child(even) a:after{
  border-left-color: #2980b9;
}

/* Primo elemento diverso*/
#bc li:first-child a{
    padding-left:15px;
    border-radius(4px 0 0 4px);
}
#bc li:first-child a:before{
      border:none;
}

  

#bc li a:before, #bc li a:after{
    content: "";
    position:absolute;
    top: 0;
    border:0 solid #3498db;
    border-width:20px 10px;
    width: 0;
    height: 0;
}

#bc li a:before{
    left:-20px;
    border-left-color:transparent;
}

#bc li a:after{
    left:100%;
    border-color:transparent;
    border-left-color:#3498db;
}

/* cambio colore quando passo sopra*/
#bc li a:hover{
    background-color: #1abc9c;
}       
#bc li a:hover::before{
  border-color:#1abc9c;
  border-left-color:transparent;
 }
#bc li a:hover::after{
  border-left-color:#1abc9c;
}

/* più scuro quando lo clicco*/
#bc li a:active{
    background-color: #16a085;
}
#bc li a:active::before{
  border-color:#16a085;
  border-left-color:transparent;
}
#bc li a:active::after{
  border-left-color:#16a085;
}


/* ----------------------- MENU area personale ----------------------*/
 
.container-menu {
    display: block;
    width: 24%;
    float: left;

    margin-left: 5px;

}


.ap-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 100%;
}

.ap-menu li a {
  display: block;
  text-decoration: none;
  padding: 8px 15px;
  color: #777;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #EEE;

}

.ap-menu li a p {
    display: inline-block;
    text-transform: uppercase;
    text-align:left;
    padding-left:3px;
}
.ap-menu li a .logo {
  display: inline-block;
}
/* quando passo sopra un link si colora*/
.ap-menu li:hover > a {
  color: #e67e22;
}

/* bordo nella pagina in cui sono*/
.ap-menu li #this {
  position: relative;
  color: #e67e22;
  border:0;
  /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  border-left: 4px solid #e67e22;
  border-right: 4px solid #e67e22;
  margin: 0 -4px;

}


/* media queries per farlo responsive */
@media only screen and (min-width: 980px) {
    .ap-menu {
		margin-left:10px;
	}
}

@media only screen and (min-width: 700px) and (max-width: 979px) {
    .ap-menu {
		width: 100%;
	}
	.ap-menu li a {
		height:40px;
	}
	.ap-menu li a p {
		font-size: 12px;
        display: block;
        text-align: center;
	}
    .ap-menu li a .logo {
		display: block;
        padding-left: 40%;
	}
    
}

@media only screen and (max-width: 699px) {
	
	.ap-menu { 
		width: 100%;
        height:auto;
	}
	.ap-menu li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}
	.ap-menu li a p { 
		display:none;
		font-weight:normal;
		text-align:center;
	}
    .ap-menu li a .logo {
		display: block;
        padding-left: 40%;
	}
    
    .ap-menu li:hover > a .logo {
    display: none;
    }
	.ap-menu li a:hover p,.mcd-menu li a:active p {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		min-width:100%;
		font-weight:normal;
		text-align:center;
	}
}

@media only screen and (max-width: 360px) {
    .container-menu{
        width: 72px;
    }
    .ap-menu li a .logo {
		display: block;
        padding-left: 20%;
	}
    .ap-menu li:hover > a .logo {
        display: none;
    }
    
    
}


/* --------------------- FOOTER ----------------------*/

#footer {
    padding: 2em;
    text-align: center;
    font-size: 0.5em;
}


/* --------------------------------------------------------------------------------------------------------- */
/* -------------------------------------- CONTENUTO pagine Utente e Azienda ---------------------------------*/

#contenuto {
    display:block;
    margin-right: 5px;
    padding-left: 28%;   
}

/* -------------- ELENCO ANNUNCI - home.php / UtCercaAnnunci.php / UtAnnunciSalvati.php -----------------*/

#listannunci {
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-color: darkslategrey;
    border-width: 1px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 10%;
    padding-right: 10%;

}

#annunci {
    list-style: none;
    padding:0.2em;
}
.card {
    margin: 25px auto; 
    position: relative; 
    width: 900px;
} 

#fogli {
	border: 0px solid #c4c6ca;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

#fogli:after, #fogli:before {
	border: 1px solid #c4c6ca;
    background: #FFFFFF;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}

#fogli:after {
	transform: rotate(2deg);
	top: 0;
    z-index: 2;
}

#fogli:before {
	transform: rotate(-3deg);
	top: 0;
    z-index: 1;
}

/* Foglio che viene in primo piano rispetto agli altri*/
#foglio {
	background: #FFFFFF;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 2em 1em 2em 1em;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
    z-index: 3;
}



/* ----------------------- RICERCA - menu.php / UtCercaAnnuncio.php ----------------------*/

#ricerca {
    margin: 5% 15%;
    text-align: center;
}

#fieldset h2 {
    text-align: left;
    padding: 10px;
    margin-top: 0em;
}

#fieldset {
    padding: 10px;
}

#titolo, #regione, #tipologia {
    padding: 0.8em;
    display: inline-block;
}


/* --------------------- SIGN IN FORM - CompanySignIn.php / UserSignIn.php ---------------------*/

#form {
    margin-top: 1em;
    margin-left: 20%;
    margin-right: 20%;
    border-style: inset;
    border-color: darkslategrey;
    border-width: 2px;
    padding: 0.5em;
}

#contentForm {
    text-align: center;
    font-size: 1.5em;

}

.label {
  padding: 8px;
}


/* --------------------- ADD ADS - AzPubblicaAnnuncio.php ----------------------*/

#remove {
    float: left;
}

#edit {
    float: left;
}



/* --------------------- SECTIONS ----------------------*/

#section {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}



